:root {
  --clr-dark-blue-2: #0039FF;
  --clr-dark-blue-1: #194dff;
  --clr-blue: #3361ff;
  --clr-light-blue-1: #4d74ff;
  --clr-ligth-blue-2: #6688ff;
  --clr-dark-green-2: #00b211;
  --clr-dark-green-1: #13bf24;
  --clr-green: #29cc39;
  --clr-light-green-1: #45e655;
  --clr-light-green-2: #66ff75;
  --clr-dark-pink-2: #cc0056;
  --clr-dark-pink-1: #d91668;
  --clr-pink: #e62e7b;
  --clr-light-pink-1: #f24990;
  --clr-light-pink-2: #ff66a6;
  --clr-dark-purple-2: #6a00ff;
  --clr-dark-purple-1: #7919ff;
  --clr-purple: #8833ff;
  --clr-light-purple-1: #974dff;
  --clr-light-purple-2: #a666ff;
  --clr-dark-orange-2: #cc4314;
  --clr-dark-orange-1: #e64b17;
  --clr-orange: #ff6633;
  --clr-light-orange-1: #ff794d;
  --clr-light-orange-2: #ff8d66;
  --clr-dark-teal-2: #008ccc;
  --clr-dark-teal-1: #17a5e6;
  --clr-teal: #33bfff;
  --clr-light-teal-1: #4dc7ff;
  --clr-light-teal-2: #66cfff;
  --clr-dark-red-2: #b20000;
  --clr-dark-red-1: #cc1414;
  --clr-red: #e62e2e;
  --clr-light-red-1: #f24949;
  --clr-light-red-2: #ff6666;
  --clr-dark-yellow-2: #d9a200;
  --clr-dark-yellow-1: #e6b117;
  --clr-yellow: #ffcb33;
  --clr-light-yellow-1: #ffd559;
  --clr-light-yellow-2: #ffd559;
  --clr-dark-bronze-2: #994700;
  --clr-dark-bronze-1: #b35c12;
  --clr-bronze: #cc7429;
  --clr-light-bronze-1: #d98741;
  --clr-light-bronze-2: #e69b5c;
  --clr-dark-tiffany-2: #00b397;
  --clr-dark-tiffany-1: #14ccb0;
  --clr-tiffany: #2ee6ca;
  --clr-light-tiffany-1: #49f2d8;
  --clr-light-tiffany-2: #66ffe8;
  --clr-black: #000000;
  --clr-gray-10: #0d111a;
  --clr-gray-15: #131926;
  --clr-gray-20: #1a2233;
  --clr-gray-25: #202b40;
  --clr-gray-30: #26334d;
  --clr-gray-35: #2d3c59;
  --clr-gray-40: #334466;
  --clr-gray-45: #3f5073;
  --clr-gray-50: #4d5e80;
  --clr-gray-55: #62708c;
  --clr-gray-60: #6b7a99;
  --clr-gray-65: #7c8aa6;
  --clr-gray-70: #7d8fb3;
  --clr-gray-75: #99a6bf;
  --clr-gray-80: #adb8cc;
  --clr-gray-85: #c3cad9;
  --clr-gray-90: #dadee6;
  --clr-gray-91: #dce0e8;
  --clr-gray-92: #dfe3eb;
  --clr-gray-93: #e1e5ed;
  --clr-gray-94: #e4e7f0;
  --clr-gray-95: #edeff2;
  --clr-gray-96: #f2f3f5;
  --clr-gray-97: #f5f6f7;
  --clr-gray-98: #f7f8fa;
  --clr-gray-99: #fafbfc;
  --clr-white: #ffffff;
}
